<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="colorPalette" type="zaunfarbe.zaunfarbe.ColorPalette"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="debug" value="off"/>
        <add key="colorPalette" value="FullColor"/>
        <add key="Monday" value="000000"/>
        <add key="Tuesday" value="ff0000"/>
        <add key="Wednesday" value="c09122"/>
        <add key="Thursday" value="838b78"/>
        <add key="Friday" value="00297b"/>
        <add key="Saturday" value="5b5a5b"/>
        <add key="Sunday" value="ffffff"/>
    </appSettings>
</configuration>